SDBUSINESS/Solucion/Business/Web References/WsSDWCF/SDWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SDWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64937/SDWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISDWCF_ActualizaEstadoDocumentoElectronico_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaEstadoDocumentoElectronico" />
  </wsdl:message>
  <wsdl:message name="ISDWCF_ActualizaEstadoDocumentoElectronico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaEstadoDocumentoElectronicoResponse" />
  </wsdl:message>
  <wsdl:message name="ISDWCF_ConsultaCedula_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaCedula" />
  </wsdl:message>
  <wsdl:message name="ISDWCF_ConsultaCedula_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaCedulaResponse" />
  </wsdl:message>
  <wsdl:message name="ISDWCF_ReenvioDocumentoElectronico_InputMessage">
    <wsdl:part name="parameters" element="tns:ReenvioDocumentoElectronico" />
  </wsdl:message>
  <wsdl:message name="ISDWCF_ReenvioDocumentoElectronico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReenvioDocumentoElectronicoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISDWCF">
    <wsdl:operation name="ActualizaEstadoDocumentoElectronico">
      <wsdl:input wsaw:Action="http://tempuri.org/ISDWCF/ActualizaEstadoDocumentoElectronico" message="tns:ISDWCF_ActualizaEstadoDocumentoElectronico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISDWCF/ActualizaEstadoDocumentoElectronicoResponse" message="tns:ISDWCF_ActualizaEstadoDocumentoElectronico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaCedula">
      <wsdl:input wsaw:Action="http://tempuri.org/ISDWCF/ConsultaCedula" message="tns:ISDWCF_ConsultaCedula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISDWCF/ConsultaCedulaResponse" message="tns:ISDWCF_ConsultaCedula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReenvioDocumentoElectronico">
      <wsdl:input wsaw:Action="http://tempuri.org/ISDWCF/ReenvioDocumentoElectronico" message="tns:ISDWCF_ReenvioDocumentoElectronico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISDWCF/ReenvioDocumentoElectronicoResponse" message="tns:ISDWCF_ReenvioDocumentoElectronico_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISDWCF" type="tns:ISDWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActualizaEstadoDocumentoElectronico">
      <soap:operation soapAction="http://tempuri.org/ISDWCF/ActualizaEstadoDocumentoElectronico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCedula">
      <soap:operation soapAction="http://tempuri.org/ISDWCF/ConsultaCedula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReenvioDocumentoElectronico">
      <soap:operation soapAction="http://tempuri.org/ISDWCF/ReenvioDocumentoElectronico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SDWCF">
    <wsdl:port name="BasicHttpBinding_ISDWCF" binding="tns:BasicHttpBinding_ISDWCF">
      <soap:address location="http://localhost:64937/SDWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>